{% extends "base.html" %}

{% load static %}





{% block body %}


 <!-- Contact Section -->
 <section id="contact" class="contact section">



    <div class="container mt-5" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-4">
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-geo-alt flex-shrink-0"></i>
            <div>
              <h3>Location</h3>
              <p> 2nd Floor, ABC Plaza, Waiyaki Way, Westlands, Nairobi</p>
            </div>
          </div><!-- End Info Item -->

      

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Call Us</h3>
              <p>+254 700 123 456</p>
            </div>
          </div><!-- End Info Item -->

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
            <i class="bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Email Us</h3>
              <p>info@yourbusinessname.co.ke</p>
            </div>
          </div><!-- End Info Item -->

        </div>

        <div class="col-lg-8">
          <form action="{% url "restaurantfeature:contact" %}" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="row gy-4">

              <div class="col-md-6">
                <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
              </div>

              <div class="col-md-6 ">
                <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
              </div>

              <div class="col-md-12">
                <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
              </div>

              <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
              </div>

              <div class="col-md-12 text-center">
             
                {% if  messages %}
                {% for message in  messages %}
                <div class="alert alert-{{ message.success }}">
                  {{ message }}
               </div>
                
                {% endfor %}

                {% endif %}
             

                <button type="submit">Send Message</button>
              </div>

            </div>
          </form>
        </div><!-- End Contact Form -->








      </div>

    </div>

  </section><!-- /Contact Section -->



{% endblock  %}