{% extends "base.html" %}

{% load static %}


{% block body %}



  <main class="main">

 





  <!-- Specials Section -->
  <section id="specials" class="specials section">

   

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row">
        <div class="col-lg-12 mt-4 mt-lg-0">

          <div class="tab-content">
            <div class="tab-pane active show" id="specials-tab-1">
              <div class="row">

                 <div class="col-lg-3 text-center order-1 order-lg-2">
                  <img src="{% static 'assets/img/specials-2.png' %}" alt="" class="img-fluid">
                  <div class=" details order-2 order-lg-1">
                    <h3>Nyama choma</h3>
             </div>
            </div>

             <div class="col-lg-3 text-center order-1 order-lg-2">
              <img src="{% static 'assets/img/specials-2.png' %}" alt="" class="img-fluid">
              <div class=" details order-2 order-lg-1">
                <h3>Nyama choma</h3>
             
              </div>
         </div>


         <div class="col-lg-3 text-center order-1 order-lg-2">
          <img src="{% static 'assets/img/specials-3.png' %}" alt="" class="img-fluid">
          <div class=" details order-2 order-lg-1">
            <h3>Nyama choma</h3>
       
          </div>
     </div>


     <div class="col-lg-3 text-center order-1 order-lg-2">
      <img src="{% static 'assets/img/specials-2.png' %}" alt="" class="img-fluid">
      <div class=" details order-2 order-lg-1">
        <h3>Nyama choma</h3>
     
      </div>
 </div>


   





              </div>
            </div>


   

          </div>
        </div>
      </div>

    </div>

  </section><!-- /Specials Section -->









    <!-- Menu Section -->
    <section id="menu" class="menu section">

    

      <div class="container isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul class="menu-filters isotope-filters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-starters">Starters</li>
              <li data-filter=".filter-salads">Salads</li>
              <li data-filter=".filter-specialty">Specialty</li>
            </ul>
          </div>
        </div><!-- Menu Filters -->

        <div class="row isotope-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-6 menu-item isotope-item filter-starters">
            <img src="{% static 'assets/img/menu/lobster-bisque.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Lobster Bisque</a><span>$5.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div><!-- Menu Item -->

          <div class="col-lg-6 menu-item isotope-item filter-specialty">
            <img src="{% static 'assets/img/menu/bread-barrel.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Bread Barrel</a><span>$6.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div><!-- Menu Item -->

          <div class="col-lg-6 menu-item isotope-item filter-starters">
            <img src="{% static 'assets/img/menu/cake.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Crab Cake</a><span>$7.95</span>
            </div>
            <div class="menu-ingredients">
              A delicate crab cake served on a toasted roll with lettuce and tartar sauce
            </div>
          </div><!-- Menu Item -->

          <div class="col-lg-6 menu-item isotope-item filter-salads">
            <img src="{% static 'assets/img/menu/caesar.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Caesar Selections</a><span>$8.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div><!-- Menu Item -->

          <div class="col-lg-6 menu-item isotope-item filter-specialty">
            <img src="{% static 'assets/img/menu/tuscan-grilled.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Tuscan Grilled</a><span>$9.95</span>
            </div>
            <div class="menu-ingredients">
              Grilled chicken with provolone, artichoke hearts, and roasted red pesto
            </div>
          </div><!-- Menu Item -->

          <div class="col-lg-6 menu-item isotope-item filter-starters">
            <img src="{% static 'assets/img/menu/mozzarella.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Mozzarella Stick</a><span>$4.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div><!-- Menu Item -->

          <div class="col-lg-6 menu-item isotope-item filter-salads">
            <img src="{% static 'assets/img/menu/greek-salad.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Greek Salad</a><span>$9.95</span>
            </div>
            <div class="menu-ingredients">
              Fresh spinach, crisp romaine, tomatoes, and Greek olives
            </div>
          </div><!-- Menu Item -->

          <div class="col-lg-6 menu-item isotope-item filter-salads">
            <img src="{% static 'assets/img/menu/spinach-salad.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Spinach Salad</a><span>$9.95</span>
            </div>
            <div class="menu-ingredients">
              Fresh spinach with mushrooms, hard boiled egg, and warm bacon vinaigrette
            </div>
          </div><!-- Menu Item -->

          <div class="col-lg-6 menu-item isotope-item filter-specialty">
            <img src="{% static 'assets/img/menu/lobster-roll.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Lobster Roll</a><span>$12.95</span>
            </div>
            <div class="menu-ingredients">
              Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
            </div>
          </div><!-- Menu Item -->

        </div><!-- Menu Container -->

      </div>

    </section><!-- /Menu Section -->



    <div class="page-title position-relative mb-2" data-aos="fade" style="background-image: url({% static 'assets/img/page-title-bg.webp' %});">
      <div class="container position-relative">
        <h1>RESERVE A TABLE NOW <br></h1>

      </div>
    </div><!-- End Page Title -->




  </main>

  {% endblock  %}