{% extends "base.html" %}

{% load static %}


{% block body %}



  <main class="main">


        <!-- Page Title -->
        <div class="page-title position-relative" data-aos="fade" style="background-image: url({% static 'assets/img/page-title-bg.webp' %});">
          <div class="container position-relative">
         
            <h1>TASTE THE DIFFERENCE<br></h1>
            <p>When the going gets tough get frying. Bringing heat to your meals. No one can compete with our cuisines</p>



          </div>
        </div><!-- End Page Title -->




         
  <section id="specials" class="specials section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Starters collection</h2>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row">
        <div class="col-lg-12 mt-4 mt-lg-0">

          <div class="tab-content">
            <div class="tab-pane active show" id="specials-tab-1">
              <div class="row">



                {% for product in products  %}      

                {% if  product.category.name == "Starter" %}
                 <div class="col-lg-3 text-center order-1 order-lg-2">
                  <img src="{{product.image.url}}" alt="" class="img-fluid  product-image">
                  <div class=" details order-2 order-lg-1">
                    <h3>{{product.name}}</h3>
                    <p>ksh {{product.price}}</p>
                  </div>
             </div>

             {% endif %}
  
             {% endfor %}





              </div>
            </div>


   

          </div>
        </div>
      </div>

    </div>

  </section><!-- /Specials Section -->



 

    
  <section id="specials" class="specials section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Vegetarian collection</h2>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row">
        <div class="col-lg-12 mt-4 mt-lg-0">

          <div class="tab-content">
            <div class="tab-pane active show" id="specials-tab-1">
              <div class="row">



                {% for product in products  %}      

                {% if  product.category.name == "Vegetarian" %}
                 <div class="col-lg-3 text-center order-1 order-lg-2">
                  <img src="{{product.image.url}}" alt="" class="img-fluid  product-image">
                  <div class=" details order-2 order-lg-1">
                    <h3>{{product.name}}</h3>
                    <p>ksh {{product.price}}</p>
                  </div>
             </div>

             {% endif %}
  
             {% endfor %}





              </div>
            </div>


   

          </div>
        </div>
      </div>

    </div>

  </section><!-- /Specials Section -->





  <!-- Specials Section -->
  <section id="specials" class="specials section">

    <div class="container section-title" data-aos="fade-up">
      <h2>Main meal collection</h2>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row">
        <div class="col-lg-12 mt-4 mt-lg-0">

          <div class="tab-content">
            <div class="tab-pane active show" id="specials-tab-1">
              <div class="row">

                {% for product in products  %}      

                {% if  product.category.name == "Main" %}
                 <div class="col-lg-3 text-center order-1 order-lg-2">
                  <img src="{{product.image.url}}" alt="" class="img-fluid  product-image">
                  <div class=" details order-2 order-lg-1">
                    <h3>{{product.name}}</h3>
                    <p>ksh {{product.price}}</p>
                  </div>
             </div>

             {% endif %}
  
             {% endfor %}

   


              </div>
            </div>


   

          </div>
        </div>
      </div>

    </div>

  </section><!-- /Specials Section -->






  <section id="specials" class="specials section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Drinks collection</h2>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row">
        <div class="col-lg-12 mt-4 mt-lg-0">

          <div class="tab-content">
            <div class="tab-pane active show" id="specials-tab-1">
              <div class="row">

                {% for product in products  %}      

                {% if  product.category.name == "Drinks" %}
                 <div class="col-lg-3 text-center order-1 order-lg-2">
                  <img src="{{product.image.url}}" alt="" class="img-fluid  product-image">
                  <div class=" details order-2 order-lg-1">
                    <h3>{{product.name}}</h3>
                    <p>ksh {{product.price}}</p>
                  </div>
             </div>

             {% endif %}
  
             {% endfor %}


  






              </div>
            </div>


   

          </div>
        </div>
      </div>

    </div>

  </section><!-- /Specials Section -->



  
  <section id="specials" class="specials section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Kids collection</h2>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row">
        <div class="col-lg-12 mt-4 mt-lg-0">

          <div class="tab-content">
            <div class="tab-pane active show" id="specials-tab-1">
              <div class="row">

                {% for product in products  %}      

                {% if  product.category.name == "Kids" %}
                 <div class="col-lg-3 text-center order-1 order-lg-2">
                  <img src="{{product.image.url}}" alt="" class="img-fluid  product-image">
                  <div class=" details order-2 order-lg-1">
                    <h3>{{product.name}}</h3>
                    <p>ksh {{product.price}}</p>
                  </div>
             </div>

             {% endif %}
  
             {% endfor %}


  






              </div>
            </div>


   

          </div>
        </div>
      </div>

    </div>

  </section><!-- /Specials Section -->






  
  <section id="specials" class="specials section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Desserts collection</h2>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row">
        <div class="col-lg-12 mt-4 mt-lg-0">

          <div class="tab-content">
            <div class="tab-pane active show" id="specials-tab-1">
              <div class="row">

                {% for product in products  %}      

                {% if  product.category.name == "Desserts" %}
                 <div class="col-lg-3 text-center order-1 order-lg-2">
                  <img src="{{product.image.url}}" alt="" class="img-fluid  product-image">
                  <div class=" details order-2 order-lg-1">
                    <h3>{{product.name}}</h3>
                    <p>ksh {{product.price}}</p>
                  </div>
             </div>

             {% endif %}
  
             {% endfor %}
          




  






              </div>
            </div>


   

          </div>
        </div>
      </div>

    </div>

  </section><!-- /Specials Section -->















    <div class="page-title position-relative mb-2" data-aos="fade" style="background-image: url({% static 'assets/img/page-title-bg.webp' %});">
      <div class="container position-relative">
        <h1>RESERVE A TABLE NOW <br></h1>

      </div>
    </div><!-- End Page Title -->




  </main>

  {% endblock  %}